@font-face {
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}

.drugbg {
  background-color: #84B4E4;
}

button:hover{
  background-color: black;
  color: white;
}

.display-linebreak {
    white-space: pre;
}

.fontroboto {
  font-family: 'Roboto';
}
